.App {
  text-align: center;
  scroll-behavior: smooth;
}

.navbar-brand {
  background-color: #381C00;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.brown-logo-img {
  max-width: 15%;
  margin-top: 15px;
  margin-left: 40px;
  float: left;
}

/*.logo {
  text-align: left;

  display: inline;
}*/

.header-title {
  font-family: "minion-pro", serif;
  font-size: 30px;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: white;

  float: left;
  margin-top: 50px;
  margin-left: 40px;
  display: inline-block;
}

.App-link {
  color: #61dafb;
}

.navigation {
  background-color: #381C00;
  /*margin-left: auto;
  margin-right: 40px;
  float: right;
  display: inline-block;
  margin-top: 40px;*/
}

.container {
  background-color: #381C00;
}

.navigation nav {
  /*background-color: #381C00;
  display: flex;
  list-style-type: none;
  padding: 0;*/
}

.ul {
  display: inline-block;
}

.navigation li {
  display: inline-block;
  flex-grow: 1;
}

.Menu button {
  font-family: "CircularStd",sans-serif;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;

  background-color: #381C00;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;/*1rem;*/
  width:100%;
  border: none;
  /*border: 2px solid white;
  border-radius: 4px;*/
  cursor: pointer;
}

.Menu button:hover {
  /*background-color: white;*/
  color: #E4002B;

}

.Menu button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.Menu button span:after {
  content: '\00bb'; /*'\27AB'; /*'\2192'; */
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.Menu button:hover span {
  padding-right: 25px;
}

.Menu button:hover span:after {
  opacity: 1;
  right: 0;
}

.hide {
  display: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

table td {
  border-collapse: collapse;
  text-align: left;
  min-width: 45%;
}

.table-location {
  font-weight: 700;
}

.table-busy {
  color: red;
}

.table-not {
  color: green;
}

.table-a {
  color: gold;
}