.event-item {
    background-color: aliceblue;
    width: 20%;
    padding: 1%;
    margin: 1%;
}

.date-row {
    background-color: dimgrey;
    padding: 2%;
    margin: 2%;
}

.dates {
    padding-left: 5%;
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
}